.main-content { line-height:1.1 }

a {color: #666768;}
pre{border:#ebedf5 2px solid;padding:1em;overflow-x:hidden;}
pre,code{font-face:monospace;font-weight:500;font-size:unset;font-size:95%}
body{font-family:sans-serif}
h1{font-weight:400}
button[type="button"]{cursor: pointer!important}
