<aside class="sidebar flex gap">
  <nav>
    <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{site.title}}</a></h1>
    <h5><a href="https://github.com/nntrn/jq-recipes/wiki">View the wiki</a></h5>
  </nav>
  <div class="sidebar-groups">
    {%- for label in site.sidebar %}
    {%- assign list = site[label] %}
    <div>
      <h4><a href="{{label|relative_url}}">{{label|upcase}}</a></h4>
      <ul>
      {%- for p in list %}
        {%- if label != p.title %}
        <li>
        {%- if p.title == page.title -%}
          <u><strong>{{p.title}}</strong></u>
        {%- else -%}
          <a href="{{p.url|relative_url}}">{{p.title}}</a>
        {%- endif -%}
        </li>
        {%- endif -%}
      {%- endfor %}
      </ul>
    </div>
    {%- endfor %}
  </div>
</aside>