:root{--px-size:2.5%;--sans-serif:Helvetica Neue,Helvetica,Arial,sans-serif;--bull-margin:4px;--bull-symbol:"•";--underline-rgb:53,224,71;--underline-color:rgb(var(--underline-rgb));--meta-rgb:134,25,143;--body-rgb:34,34,34;--link-rgb:51,102,203;--meta-color:rgb(var(--meta-rgb));--body-color:rgb(var(--body-rgb));--h:126;--s:73.4%;--l:54%;--hsl:var(--h),var(--s),var(--l);--accent-color:hsl(var(--h), var(--s), var(--l));--gray:hsl(0, 0%, var(--l, 80%))}
*{box-sizing:border-box}
.hidden,[hidden]{display:none}
html{font-size:13px}
body{font-variant:proportional-width;scrollbar-width:thin;padding:0 0;margin:auto;font-family:var(--sans-serif);font-size:inherit;line-height:1.3;text-rendering:optimizeLegibility;font-variant:proportional-width}
a,u{text-underline-offset:1px;text-decoration-skip-ink:all;text-decoration-thickness:2px;text-decoration-skip-ink:none}
u{text-decoration-color:hsl(var(--h),var(--s),var(--l));text-decoration-skip-ink:all}
a:empty{text-decoration:none;color:inherit}
a:empty:after{content:attr(href)}
a:hover{text-decoration-color:currentColor}
a{color:inherit;text-decoration-color:hsl(var(--h),var(--s),var(--l))}
h1,h2,h3,h4,ul{margin:0 0}
h1,h2,h4{line-height:1}
.container{display:flex;gap:1rem;padding:1rem 0;width:100%}
footer,header,main{padding:0 1rem}
header{padding-top:1rem;padding-bottom:1rem}
footer{background:#222;min-height:100px;padding:1rem;color:#fff}
.container .sidebar{flex:1}
.container .content > *:first-child{padding:0 0;margin:0 0;margin-bottom:1rem}
.container .content{flex:3;width:100%;overflow-x:hidden}
.content h1{font-size:2rem;margin-bottom:1rem}
body{overflow-x:hidden}
pre{font-size:.9rem;max-width:100%}
pre code{white-space:pre;display:block;overflow-x:scroll}
button{position:fixed;z-index:1000;right:0}
.hidden,hidden{display:none!important}
.sidebar{flex-direction:column;background:#fff;color:#222}
.sidebar ul{padding:.5rem 2rem}
.flex{display:flex}
.gap{gap:var(--gap,1rem)}
.container{position:relative}
@media (max-width:600px){
.container{flex-direction:column-reverse}
.sidebar{flex-direction:row;border-top:1px solid #222;padding-top:1rem}
.sidebar>div{flex:1;flex-wrap:wrap}
}
