<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title != 'Home' %}{{page.title|default:page.name}} | {%-endif %} {{site.title}}</title>
  <meta name="description" content="{{site.description}}" />
  <meta name="author" content="{{site.github_username}}">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="https://nntrn.github.io{{ page.url | relative_url }}" />
  <link rel="icon" href="{{site.favicon_ico|relative_url}}" type="image/x-icon">

  {%- for css in site.stylesheets -%}
  {%capture style %}<style>{%- include {{css}} -%}</style>{%endcapture%}
  {{style}}
  {% endfor %}

</head>
<body class="container">
<header>
<h1 class="site-title"><a href="{{ '/' | relative_url }}">{{site.title}}</a></h1>
</header>
{% include sidebar.html %}
<main>
  {{ content }}
</main>
<footer>
  <div class="flex sb">
    <p>Download <a href="https://nntrn.github.io/jq-recipes/recipes.jq">recipes.jq</a></p>
    <p>Created by <a href="https://github.com/{{site.repository}}">@{{site.github_username}}</a></p>
  </div>
</footer>
</body>
</html>
